/* Fonts Families */
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");
@font-face {
  font-family: 'Stag Sans';
  src: url("../StagsansFont/StagSans-Thin.eot");
  src: local("../StagsansFont/Stag Sans Thin"), local("../StagsansFont/StagSans-Thin"), url("../StagsansFont/StagSans-Thin.eot?#iefix") format("embedded-opentype"), url("../StagsansFont/StagSans-Thin.woff2") format("woff2"), url("../StagsansFont/StagSans-Thin.woff") format("woff"), url("../StagsansFont/StagSans-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Stag Sans';
  src: url("../StagsansFont/StagSans-Medium.eot");
  src: local("../StagsansFont/Stag Sans Medium"), local("../StagsansFont/StagSans-Medium"), url("../StagsansFont/StagSans-Medium.eot?#iefix") format("embedded-opentype"), url("../StagsansFont/StagSans-Medium.woff2") format("woff2"), url("../StagsansFont/StagSans-Medium.woff") format("woff"), url("../StagsansFont/StagSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Stag Sans';
  src: url("../StagsansFont/StagSans-BoldItalic.eot");
  src: local("../StagsansFont/Stag Sans Bold Italic"), local("../StagsansFont/StagSans-BoldItalic"), url("../StagsansFont/StagSans-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../StagsansFont/StagSans-BoldItalic.woff2") format("woff2"), url("../StagsansFont/StagSans-BoldItalic.woff") format("woff"), url("../StagsansFont/StagSans-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Stag Sans';
  src: url("../StagsansFont/StagSans-SemiBoldItalic.eot");
  src: local("../StagsansFont/Stag Sans SemiBold Italic"), local("../StagsansFont/StagSans-SemiBoldItalic"), url("../StagsansFont/StagSans-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("../StagsansFont/StagSans-SemiBoldItalic.woff2") format("woff2"), url("../StagsansFont/StagSans-SemiBoldItalic.woff") format("woff"), url("../StagsansFont/StagSans-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Stag Sans';
  src: url("../StagsansFont/StagSans-LightItalic.eot");
  src: local("../StagsansFont/Stag Sans Light Italic"), local("../StagsansFont/StagSans-LightItalic"), url("../StagsansFont/StagSans-LightItalic.eot?#iefix") format("embedded-opentype"), url("../StagsansFont/StagSans-LightItalic.woff2") format("woff2"), url("../StagsansFont/StagSans-LightItalic.woff") format("woff"), url("../StagsansFont/StagSans-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Stag Sans';
  src: url("../StagsansFont/StagSans-Bold.eot");
  src: local("../StagsansFont/Stag Sans Bold"), local("../StagsansFont/StagSans-Bold"), url("../StagsansFont/StagSans-Bold.eot?#iefix") format("embedded-opentype"), url("../StagsansFont/StagSans-Bold.woff2") format("woff2"), url("../StagsansFont/StagSans-Bold.woff") format("woff"), url("../StagsansFont/StagSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Stag Sans';
  src: url("../StagsansFont/StagSans-ThinItalic.eot");
  src: local("../StagsansFont/Stag Sans Thin Italic"), local("../StagsansFont/StagSans-ThinItalic"), url("../StagsansFont/StagSans-ThinItalic.eot?#iefix") format("embedded-opentype"), url("../StagsansFont/StagSans-ThinItalic.woff2") format("woff2"), url("../StagsansFont/StagSans-ThinItalic.woff") format("woff"), url("../StagsansFont/StagSans-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Stag Sans';
  src: url("../StagsansFont/StagSans-BlackItalic.eot");
  src: local("../StagsansFont/Stag Sans Black Italic"), local("../StagsansFont/StagSans-BlackItalic"), url("../StagsansFont/StagSans-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../StagsansFont/StagSans-BlackItalic.woff2") format("woff2"), url("../StagsansFont/StagSans-BlackItalic.woff") format("woff"), url("../StagsansFont/StagSans-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Stag Sans';
  src: url("../StagsansFont/StagSans-Black.eot");
  src: local("../StagsansFont/Stag Sans Black"), local("../StagsansFont/StagSans-Black"), url("../StagsansFont/StagSans-Black.eot?#iefix") format("embedded-opentype"), url("../StagsansFont/StagSans-Black.woff2") format("woff2"), url("../StagsansFont/StagSans-Black.woff") format("woff"), url("../StagsansFont/StagSans-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Stag Sans';
  src: url("../StagsansFont/StagSans-Italic.eot");
  src: local("../StagsansFont/Stag Sans Italic"), local("../StagsansFont/StagSans-Italic"), url("../StagsansFont/StagSans-Italic.eot?#iefix") format("embedded-opentype"), url("../StagsansFont/StagSans-Italic.woff2") format("woff2"), url("../StagsansFont/StagSans-Italic.woff") format("woff"), url("../StagsansFont/StagSans-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Stag Sans';
  src: url("../StagsansFont/StagSans-Light.eot");
  src: local("../StagsansFont/Stag Sans Light"), local("../StagsansFont/StagSans-Light"), url("../StagsansFont/StagSans-Light.eot?#iefix") format("embedded-opentype"), url("../StagsansFont/StagSans-Light.woff2") format("woff2"), url("../StagsansFont/StagSans-Light.woff") format("woff"), url("../StagsansFont/StagSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Stag Sans';
  src: url("../StagsansFont/StagSans-MediumItalic.eot");
  src: local("../StagsansFont/Stag Sans Medium Italic"), local("../StagsansFont/StagSans-MediumItalic"), url("../StagsansFont/StagSans-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../StagsansFont/StagSans-MediumItalic.woff2") format("woff2"), url("../StagsansFont/StagSans-MediumItalic.woff") format("woff"), url("../StagsansFont/StagSans-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Stag Sans';
  src: url("../StagsansFont/StagSans-SemiBold.eot");
  src: local("../StagsansFont/Stag Sans SemiBold"), local("../StagsansFont/StagSans-SemiBold"), url("../StagsansFont/StagSans-SemiBold.eot?#iefix") format("embedded-opentype"), url("../StagsansFont/StagSans-SemiBold.woff2") format("woff2"), url("../StagsansFont/StagSans-SemiBold.woff") format("woff"), url("../StagsansFont/StagSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Stag Sans';
  src: url("../StagsansFont/StagSans-Regular.eot");
  src: local("../StagsansFont/Stag Sans Regular"), local("../StagsansFont/StagSans-Regular"), url("../StagsansFont/StagSans-Regular.eot?#iefix") format("embedded-opentype"), url("../StagsansFont/StagSans-Regular.woff2") format("woff2"), url("../StagsansFont/StagSans-Regular.woff") format("woff"), url("../StagsansFont/StagSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Colors and variables */
/* mixins and functions and conditions*/
/* Css Resets or Gobal styles*/
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Titillium Web", sans-serif;
}

p {
  font-family: "Stag Sans";
  color: #000000;
  font-size: 17px;
  line-height: 20px;
  font-weight: 300;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: 300;
}

figure {
  margin: 0;
  font-size: 0;
}

figure img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

/* buttons styles */
button.btn {
  border-radius: 3.2px;
  height: 45px;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

button.btn:active, button.btn:focus, button.btn:active:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

button.btn-primary {
  background-color: #DD5A6A;
  border-color: #DD5A6A;
  color: #ffffff;
  font-family: Arial;
  font-size: 14.4px;
  line-height: 17px;
  text-align: left;
  min-width: 186px;
  text-align: center;
}

button.btn-primary:hover {
  background-color: #ffffff;
  color: #DD5A6A;
  border-color: #DD5A6A;
}

button.btn-info {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(-35.15%, #2EC4B8), color-stop(100%, #6078EA), to(#6078EA));
  background-image: linear-gradient(to right, #2EC4B8 -35.15%, #6078EA 100%, #6078EA 100%);
  border-radius: 4px;
  border-color: #6078EA;
  color: #ffffff;
  font-family: "Stag Sans";
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 18px;
}

button.btn-info:hover {
  background-color: #ffffff;
  color: #6078EA;
  background-image: none;
  border-color: #6078EA;
}

.container {
  width: 100%;
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto 100px;
}

@media only screen and (max-width: 1200px) {
  .container {
    margin: 0 auto 75px;
  }
}

@media only screen and (max-width: 767px) {
  .container {
    margin: 0 auto 50px;
  }
}

main .banner_container {
  background-image: url("../images/Banner_mage.png");
  background-position: center;
  background-repeat: no-repeat;
  padding: 30px 100px;
  font-size: 0;
  min-height: 541px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 100px;
}

@media only screen and (max-width: 1024px) {
  main .banner_container {
    padding: 30px;
    min-height: 0;
    background-size: cover;
    margin-bottom: 50px;
  }
}

main .banner_container .banner_container_inner {
  margin-bottom: 0;
}

main .banner_container .banner_content {
  width: calc(100% - 339px);
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  vertical-align: middle;
}

@media only screen and (max-width: 1024px) {
  main .banner_container .banner_content {
    width: calc(100% - 272px);
  }
}

@media only screen and (max-width: 767px) {
  main .banner_container .banner_content {
    width: 100%;
    display: block;
    margin-bottom: 50px;
  }
}

main .banner_container .banner_content figure {
  margin-bottom: 70px;
}

main .banner_container .banner_content h2 {
  color: #ffffff;
  font-size: 31px;
  letter-spacing: 1.28px;
  line-height: 40px;
  width: 100%;
  max-width: 622px;
  text-align: left;
  margin-bottom: 10px;
  font-weight: 700;
}

main .banner_container .banner_content ul {
  margin-bottom: 15px;
}

main .banner_container .banner_content ul li {
  display: inline-block;
  width: auto;
  font-family: "Stag Sans";
  font-size: 25px;
  letter-spacing: 3.59px;
  line-height: 34px;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 300;
}

main .banner_container .banner_content ul li::after {
  content: '|';
  display: inline-block;
  font-family: "Stag Sans";
  font-size: 25px;
  letter-spacing: 3.59px;
  line-height: 34px;
}

main .banner_container .banner_content ul li:last-child::after {
  display: none;
}

main .banner_container .banner_form {
  width: 40%;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  vertical-align: middle;
  max-width: 339px;
  height: auto;
  background-color: #ffffff;
  padding: 30px;
  -webkit-box-shadow: -4px 2px 13px 0 rgba(85, 95, 126, 0.18);
          box-shadow: -4px 2px 13px 0 rgba(85, 95, 126, 0.18);
}

@media only screen and (max-width: 767px) {
  main .banner_container .banner_form {
    width: 100%;
    display: block;
  }
}

main .banner_container .banner_form h3 {
  color: #213559;
  font-family: "Stag Sans";
  font-size: 20.08px;
  line-height: 24px;
  text-align: left;
  font-weight: 500;
  margin-bottom: 30px;
}

main .banner_container .banner_form form fieldset .field {
  margin-bottom: 10px;
}

main .banner_container .banner_form form fieldset .field label {
  display: none;
}

main .banner_container .banner_form form fieldset .field .control input {
  border: 0.87px solid #D0D0D0;
  width: 100%;
  max-width: 278px;
  height: 42px;
  padding: 10px 15px;
}

main .banner_container .banner_form form fieldset button {
  margin-top: 15px;
  font-family: "Stag Sans";
  font-size: 14.84px;
  line-height: 18px;
  min-width: 111px;
  text-align: center;
}

main .bone_marrow {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media only screen and (max-width: 767px) {
  main .bone_marrow {
    width: 100%;
    display: block;
  }
}

main .bone_marrow .bone_image {
  width: 100%;
  max-width: 451px;
  display: inline-block;
  vertical-align: middle;
}

@media only screen and (max-width: 1024px) {
  main .bone_marrow .bone_image {
    max-width: 351px;
  }
}

@media only screen and (max-width: 767px) {
  main .bone_marrow .bone_image {
    max-width: 100%;
    display: block;
  }
}

main .bone_marrow .bone_content {
  width: calc(100% - 451px);
  display: inline-block;
  vertical-align: middle;
  padding: 30px;
}

@media only screen and (max-width: 1024px) {
  main .bone_marrow .bone_content {
    width: calc(100% - 351px);
  }
}

@media only screen and (max-width: 767px) {
  main .bone_marrow .bone_content {
    width: 100%;
    display: block;
    padding: 30px 0;
  }
}

main .bone_marrow .bone_content h3 {
  padding: 20px;
  margin-bottom: 50px;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(100%, #2EC4B8), color-stop(0%, #6078EA), to(#446CBD));
  background-image: linear-gradient(to right, #2EC4B8 100%, #6078EA 0%, #446CBD 100%);
  background-image: -webkit-gradient(linear, left top, right top, color-stop(-35.15%, #2EC4B8), color-stop(100%, #6078EA), to(#6078EA));
  background-image: linear-gradient(to right, #2EC4B8 -35.15%, #6078EA 100%, #6078EA 100%);
  border-radius: 4px;
  min-height: 95px;
  color: #ffffff;
  font-family: "Stag Sans";
  font-size: 18px;
  line-height: 26px;
  font-weight: 500;
}

main .bone_marrow .bone_content p {
  margin-bottom: 45px;
  color: #000000;
  font-family: "Stag Sans";
  font-size: 17px;
  line-height: 20px;
  font-weight: 300;
}

main .bone_marrow .bone_content p:last-child {
  margin-bottom: 0;
}

@media only screen and (max-width: 767px) {
  main .bone_marrow .bone_content p {
    margin-bottom: 30px;
  }
}

main .dotors {
  font-size: 0;
}

main .dotors h2 {
  color: #22B78E;
  font-family: "Stag Sans";
  font-size: 31px;
  letter-spacing: 1.28px;
  line-height: 44px;
  margin-bottom: 30px;
  font-weight: 500;
}

main .dotors section {
  background-color: #F9F9FF;
  width: calc(50% - 10px);
  padding: 40px 30px 0;
  display: inline-block;
  text-align: center;
}

main .dotors section:nth-of-type(odd) {
  margin-right: 10px;
}

main .dotors section:nth-of-type(even) {
  margin-left: 10px;
}

@media only screen and (max-width: 767px) {
  main .dotors section {
    width: 100%;
    padding: 40px 15px 0;
  }
}

main .dotors section h4 {
  color: #1D5AA6;
  font-family: "Stag Sans";
  font-size: 22px;
  letter-spacing: 1.76px;
  line-height: 26px;
  color: #22B78E;
  font-weight: 500;
}

main .dotors section figure {
  margin-bottom: 25px;
}

main .dotors section ul li {
  padding: 37px 30px;
}

@media only screen and (max-width: 1024px) {
  main .dotors section ul li {
    padding: 37px 0px;
  }
}

main .dotors section ul li h5 {
  color: #1D5AA6;
  font-family: "Stag Sans";
  font-size: 22px;
  letter-spacing: 1.76px;
  line-height: 26px;
}

main .dotors section ul li strong {
  color: #1D5AA6;
  font-family: "Stag Sans";
  font-size: 15px;
  letter-spacing: 1.2px;
  margin: 0px;
  font-weight: 300;
}

main .dotors section ul li strong::after {
  content: '';
  display: block;
  height: 1px;
  width: 37px;
  margin: 0 auto;
  background: #22B78E;
  margin: 15px auto;
}

main .dotors section ul li p {
  color: #000000;
  font-family: "Stag Sans";
  font-size: 15px;
  font-weight: 300;
  line-height: 20px;
}

main .dotors section ul li button {
  border-radius: 4px;
  width: 129px;
  height: 49px;
}

main section h2 {
  color: #22B78E;
  color: #22B78E;
  font-family: "Stag Sans";
  font-size: 31px;
  letter-spacing: 1.28px;
  line-height: 44px;
  margin-bottom: 30px;
  font-weight: 500;
}

main section.types_off_bone ul li {
  color: #000000;
  font-family: "Stag Sans";
  font-size: 14px;
  line-height: 39px;
  margin-bottom: 20px;
  padding-left: 30px;
  position: relative;
  font-weight: 300;
}

@media only screen and (max-width: 1024px) {
  main section.types_off_bone ul li {
    line-height: 29px;
  }
}

main section.types_off_bone ul li::before {
  content: '';
  display: block;
  background-image: url("../images/list_dot_icon.png");
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: center;
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 15px;
  position: absolute;
  top: 15px;
  left: 0px;
}

main section.warning_signs ul {
  font-size: 0;
  width: calc(100% + 30px);
  margin: 0 -15px;
}

@media only screen and (max-width: 767px) {
  main section.warning_signs ul {
    width: calc(100% + 20px);
    margin: 0 -10px;
  }
}

main section.warning_signs ul li {
  padding: 15px;
  width: 25%;
  display: inline-block;
}

@media only screen and (max-width: 1024px) {
  main section.warning_signs ul li {
    width: 33.3%;
    padding: 10px;
  }
}

@media only screen and (max-width: 767px) {
  main section.warning_signs ul li {
    width: 50%;
    padding: 10px;
  }
}

main section.warning_signs ul li div {
  background-color: #ffffff;
  border: 1px solid #E5EAFF;
  border-radius: 4px;
  -webkit-box-shadow: 3px 5px 29px 0 rgba(187, 165, 228, 0.1);
          box-shadow: 3px 5px 29px 0 rgba(187, 165, 228, 0.1);
  padding: 20px;
}

main section.warning_signs ul li div figure {
  margin-bottom: 20px;
}

main section.testimonials_container {
  text-align: center;
}

main section.testimonials_container ul .slick-list {
  padding-left: 0px  !important;
}

main section.testimonials_container ul li {
  padding: 15px;
}

main section.testimonials_container ul li .testimonals_slide {
  background-color: #ffffff;
  border-radius: 4px;
  -webkit-box-shadow: 9px 8px 27px 0 rgba(0, 0, 0, 0.04);
          box-shadow: 9px 8px 27px 0 rgba(0, 0, 0, 0.04);
  min-height: 249px;
  padding: 40px 30px 30px;
  text-align: left;
}

main section.testimonials_container ul li .testimonals_slide p {
  color: #000000;
  font-family: "Stag Sans";
  font-size: 15px;
  font-style: italic;
  line-height: 21px;
  width: 410px;
  text-align: left;
}

main section.testimonials_container ul li .testimonals_slide div {
  margin-bottom: 30px;
}

main section.testimonials_container ul li .testimonals_slide div figure {
  display: inline-block;
  width: auto;
  vertical-align: middle;
  margin-right: 15px;
}

main section.testimonials_container ul li .testimonals_slide div div {
  display: inline-block;
  width: calc(100% - 86px);
  vertical-align: middle;
  margin-bottom: 0;
  margin-top: 15px;
}

main section.testimonials_container ul li .testimonals_slide div div h5 {
  font-weight: 700;
}

main section.testimonials_container button {
  margin: 0 auto;
  width: 100%;
  background-color: #004498;
  border: 1px solid #004498;
  border-radius: 3.81px;
  max-width: 221px;
  height: 54px;
  margin-top: 30px;
  color: #ffffff;
  font-family: Arial;
  font-size: 17.14px;
  line-height: 21px;
  text-align: left;
  text-align: center;
}

main .bone_marrow_question .accordion .accordion_content {
  border-bottom: 1px solid #ECECFF;
}

main .bone_marrow_question .accordion .accordion_content h4 {
  color: #1D5AA6;
  font-family: "Stag Sans";
  font-size: 20px;
  letter-spacing: 1.6px;
  line-height: 22px;
  padding: 20px 30px 20px 0px;
  position: relative;
  cursor: pointer;
}

main .bone_marrow_question .accordion .accordion_content h4:after {
  content: '';
  display: block;
  width: 22px;
  height: 11px;
  background-image: url("../images/Arrow.png");
  background-repeat: no-repeat;
  background-size: 22px;
  background-position: center;
  display: inline-block;
  z-index: 1;
  position: absolute;
  top: 25px;
  right: 10px;
  -webkit-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
}

main .bone_marrow_question .accordion .accordion_content.active h4::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

main .bone_marrow_question .accordion .accordion_content.active .accordion_detail {
  display: block;
  padding-bottom: 20px;
}

main .bone_marrow_question .accordion .accordion_content .accordion_detail {
  display: none;
}

main .bone_marrow_question .accordion .accordion_content .accordion_detail ul li {
  color: #000000;
  font-family: "Stag Sans";
  font-size: 14px;
  line-height: 30px;
  padding-left: 30px;
  position: relative;
}

main .bone_marrow_question .accordion .accordion_content .accordion_detail ul li::before {
  content: '';
  display: block;
  background-image: url("../images/double-tick-indicator.png");
  background-repeat: no-repeat;
  background-size: 14px;
  background-position: center;
  display: inline-block;
  width: 14px;
  height: 8px;
  margin-right: 15px;
  position: absolute;
  top: 10px;
  left: 0;
}

footer {
  background-color: #272727;
  height: 256px;
  text-align: center;
  padding: 50px 15px;
}

footer .social_icons_container {
  margin-bottom: 50px;
}

footer .social_icons_container ul li {
  display: inline-block;
  padding: 0 3px;
}

footer small {
  display: block;
}

footer small copyrights {
  color: #ffffff;
  font-family: "Stag Sans";
  font-size: 14px;
  letter-spacing: 1.12px;
  line-height: 17px;
  text-align: left;
  font-weight: 300;
}
/*# sourceMappingURL=styles.css.map */